<%- include('partials/head') %>

<%- include('partials/navbar') %>


<style>
    body {
        background-color: #f8f9fa;
        padding: 20px;
    }

    .home-content {
        max-width: 800px;
        margin: 0 auto;
    }
</style

<div class="container mt-4 home-content">
    <h1 class="text-center mb-4">Welcome to our Recipe Website!</h1>
    <p>
        This website is your go-to place for discovering and sharing delicious recipes. Whether you're a seasoned chef or just starting in the kitchen, you'll find a variety of recipes to suit your taste.
    </p>

    <h2 class="mt-4">Functionality</h2>
    <p>
        Our website allows you to:
    </p>
    <ul>
        <li>Browse a collection of diverse recipes.</li>
        <li>Add your favorite recipes to the collection.</li>
        <li>Edit and update existing recipes.</li>
        <li>Explore detailed instructions and ingredient lists for each recipe.</li>
        <li>Search Your favorite Category</li>
    </ul>

    <h2 class="mt-4">About the Author</h2>
    <p>
        This website was created by <b>Fiza Saif</b>. As a food enthusiast, Fiza Saif is passionate about sharing culinary experiences and bringing people together through the joy of cooking. Feel free to explore the recipes and get inspired in your own kitchen!
    </p>
</div>